$icon-font-path: '../fonts/';

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


//$main-color: #00A36A;
$main-color: #538A49;
$main-color-light: lighten($main-color, 50%);
$main-color-dark: darken($main-color, 20%);
$secondary-color: #f4f4f4;

section {
  // background-color: $cactus-lightened;
  margin-bottom: 10px;
  // border: 1px solid green;
  padding:50px 0;

  &:nth-child(odd) {
    background-color: $secondary-color;
  }

  //the landing/hero
  &#landing {
    text-align: center;
    background: url('../images/img_1372.jpg') no-repeat center -220px;
    background-size: cover;
    height: 100vh;
    padding: 0;

    .navbar {
      background-color: rgba($main-color-dark, 0.70);

      .nav-link {
        color: rgba(255,255,255,0.75);

        &:hover,
        &:focus {
          color: #FFF;
        }
      }
    }

    p {
      color: rgba(255,255,255, 0.70);
      font-size: 0.75em;
      padding: 6px 14px;
      background-color: rgba($main-color-dark, 0.55);
      position: relative;
      top: calc(100vh - 85px);

      span {
        color: rgba(255,255,255,0.85);
      }
    }
  }
}

.card {
  border-radius: 0;
  border: 2px solid $main-color;
}

footer {
  background-color: $main-color;
  color: #ccc
}
