<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section id="landing">
      <nav class="navbar navbar-full navbar-dark bg-inverse">
        <a class="navbar-brand" href="#">WW</a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#designs">Designs</a>
          </li>
        </ul>
      </nav>
      <p class='text-md-right'>The Reichstag <span><em>Berlin, Germany</em></span></p>
    </section>

    <section id="projects">
      <projects :projects>
        <div class="container">
          <h3>Projects</h3>
          <div class="row">
            <div class="col-md-6" v-for="proj in projects">
              <div class="card project">
                <img class="card-img-top" data-src="..." alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">{{ proj.title }}</h4>
                  <p class="card-text">{{ proj.desc }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </projects>
    </section>

    <section id="designs">
      <designs :designs="designs">
        <div class="container">
          <h3>Designs</h3>
          <div class="row">
            <div class="col-md-4" v-for="des in designs">
              <div class="card design">
                <img class="card-img-top" data-src="..." alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">{{ des.title }}</h4>
                  <p class="card-text">{{ des.desc }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </designs>
    </section>

    <section id="contact">
      <div class="container">
        <h3>Contact Me</h3>

      </div>
    </section>

    <footer>
      <hr>
      <div class="container">
        <div class="row">
          <p class="text-center">
            &copy; Wes Wise,
          </p>
        </div>

      </div>
    </footer>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/vue/dist/vue.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
